<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^/?$ index.php [NC,L]
    RewriteRule ^products/?$ products.php [NC,L]
    RewriteRule ^customers/?$ customers.php [NC,L]

    RewriteRule ^products/edit/([a-z0-9]+)/?$ editproduct.php?id=$1 [NC,L]
    RewriteRule ^customers/edit/([a-z0-9]+)/?$ editcustomer.php?id=$1 [NC,L]

    RewriteRule ^products/add/?$ addproduct.php [NC,L]
    RewriteRule ^customers/add/?$ addcustomer.php [NC,L]

</IfModule>